VerificationAPI/Schemas/Video.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="medias">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="media">
					<xs:complexType>
						<xs:attribute name="url" type="xs:string" use="required" />
						<xs:attribute name="data_size" type="xs:unsignedInt" use="optional" />
						<xs:attribute name="quality" type="xs:string" use="required" />
						<xs:attribute name="extension" type="xs:string" use="required" />
						<xs:attribute name="type" type="xs:string" use="required" />
						<xs:attribute name="duration" type="xs:unsignedByte" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>